
*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vw;
    height: 100vh;
}

.mt-auto {
    margin-top: auto; /* Margine superiore automatico per spingere gli elementi verso il basso */
}

footer {
    color: black;
}

footer>div>div>div>i {
    font-size: 30px;
}

footer>div>div>div>ul>li {
    list-style: none;
}

#service {
    background-color: transparent;
    color: black;
    border: solid 1px black;
}

#goBack {
    height: 50px;
}
